.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.left-text {
  display: flex;
  gap: 20px; /* Adjust spacing between text labels */
}

.footer-text {
  font-size: 14px;
  color: #495057;
}

.finish-test-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.finish-test-button:hover {
  background-color: #0056b3;
}
